<div class="jumbotron">
    <h1>Skill Test</h1>
    <p class="lead">A simple MVC App.</p>
  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Click the Client tab on the banner to start</p>
       
    </div>
</div>
